extends layout

block content
    h1= "Check Exchanges #2"
    form(action="/ps4/getCurrencyTwo" method="post")
        p Base Currency:
            input(type="text" name="base" placeholder="")
        p Requested Currency:
            input(type="text" name="requested" placeholder="")
        input(type="submit", value="Submit Two")
    form(method="get" action="/")
        input(type="submit", value="Go Back")